#summary {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    background-color: #dec9c3;
    /* background-color: #e7d3c8; */
    border-radius: 4px;
}

#summary-photo {
    margin: 0 auto;
    filter: drop-shadow(0 0 0.75rem rgb(131, 104, 100));
}

