#cv {
    justify-content: start;
}

.cv {
    margin: 0;
    margin-left: 50px;
    margin-top: 50px;
}

.mouse_graphic {
    width: 300px;
    margin: 0;
    margin-top: -140px;
    margin-left: -70px;
}