#nav {
    margin: 0 auto;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-image: url("../src/images/background_image/baner4_small.png");
    background-size: cover; 
    background-repeat: no-repeat;
}

#logo {
    width: 250px;
    height: 250px;
}

