#nav {
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    background-image: url("../src/images/background_image/baner4_small.png");
    background-size: cover; 
    background-repeat: no-repeat;
}

#logo {
    width: 250px;
    height: 250px;
    margin-left: 130px;
    margin-right: 400px;
}

