::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
}

::-webkit-scrollbar-track {
    background: #D7B6A4;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(  #D7B6A4,#D9AC94, #D4A28F,  #946C66, #5F3524);
    border: 1px solid #5F3524;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: linear-gradient( #5F3524, #946C66, #D4A28F, #D9AC94,#D7B6A4);
    transition:  0.25s;
}
