:root {
  --brand-color: #EEE4E1;
  --background-color: #EEE4E1;
  --hover-color: #944e63;
  --accent-color: #946C66;
  --text-color: #000000;
  --main-font: 'Montserrat', sans-serif;
  --accent-font: 'Cormorant Garamond', serif;
  --baner-color1: #D7B6A4;
  --baner-color2: #D9AC94;
  --baner-color3: #D4A28F;
  --baner-color4: #946C66;
  --baner-color5: #816463;
  --baner-color6: #5F3524;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--text-color);
}

body {
    /* background-color:#D6BCB4;
    background-color: #e2d0ca;
    background-color: #f2eae8; */
    background-color: var(--background-color);
}

main {
    display: block;
}

.container {
    margin-bottom: 100px;
    margin-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}