* {
    font-family: Montserrat, monospace;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color:#D6BCB4;
    background-color: #e2d0ca;
    background-color: #f2eae8;
    background-color: #EEE4E1;
    accent-color: #944e63;
}
