.box {
    width: 320px;
    height: 240px;
    background-image: url(./images/320x240.png);
    background-size: 320px 240px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 400px),
screen and (min-resolution: 192dpi) and (min-width: 400px),
screen and (min-resolution: 2dppx) and (min-width: 400px) {
        .box {
            background-image: url(.images/640x480.png);
        }
}

@media screen and (min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .box {
        background-image: url(./images/900x900.png);
    }
}  