#portfolio {
    display: block;
    margin-top: 50px;
    max-width: 90vw;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 3vw;
    flex-direction: column;
}

.portfolio-container {
    position: relative;
    max-width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    grid-template-rows: minmax(100px, auto);
    /* margin: 40px; */
    margin-top: 20px;
    grid-auto-flow: dense;
    grid-gap: 10px;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
}

.portfolio-container .box {
    background-color: var(--content-background-color);
    padding: 20px;
    display: grid;
    font-size: 18px;
    font-weight: 600;
    place-items: center;
    text-align: center;
    transition-duration: 1000ms;
}

.portfolio-container .box:hover {
    background-color: rgba(148, 108, 102, 0.3);
    transition-duration: 1000ms;
}

.portfolio-container .box img {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.portfolio-container .box:nth-child(1) {
    width: 100%;
}
.portfolio-container .box:nth-child(2) {
    width: 100%;
}
.portfolio-container .box:nth-child(3) {
    width: 100%;
}
.portfolio-container .box:nth-child(4) {
    width: 100%;
}
.portfolio-container .box:nth-child(5) {
    width: 100%;
}
.portfolio-container .box:nth-child(6) {
    width: 100%;
}

.portfolio-content {
    min-height: 440px;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    animation: fade-left 700ms;
}

.portfolio-tablet-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0;
}

.portfolio-tablet-img {
    width: 50%;
    margin-left: 3vw;
}

@media (min-width: 768px) and (max-width: 1199px) {

    /* .portfolio-container {
        max-width: 85%; 
        margin: 40px;
    } */




    .portfolio-content {
        font-size: 18px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {

    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .portfolio-container .box:nth-child(1) {
        grid-column: span 2;
        grid-row: span 1;
        width: 100%;
    }

    .portfolio-container .box:nth-child(2) {
        grid-column: span 1;
        grid-row: span 3;
        width: 130%;
    }

    .portfolio-container .box:nth-child(5) {
        grid-column: span 2;
        grid-row: span 1;
        width: 100%;
    }

    .portfolio-container .box:nth-child(6) {
        grid-column: span 3;
        grid-row: span 2;
        width: 110%;
    }

    .portfolio-content {
        font-size: 18px;
    }
}

@media (min-width: 1600px) {

    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    
    .portfolio-container .box:nth-child(1) {
        grid-column: span 2;
        grid-row: span 1;
        width: 100%;
    }

    .portfolio-container .box:nth-child(2) {
        grid-column: span 1;
        grid-row: span 3;
        width: 130%;
    }

    .portfolio-container .box:nth-child(5) {
        grid-column: span 2;
        grid-row: span 1;
        width: 100%;
    }

    .portfolio-container .box:nth-child(6) {
        grid-column: span 3;
        grid-row: span 2;
        width: 110%;
    }

    .portfolio-content {
        font-size: 18px;
    }
} 