#footer {
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: url("/src/images/background_image/baner4_small.png");
  background-size: cover; 
  background-repeat: no-repeat;
}

#logo-footer {
    width: 80px;
    height: 80px;
    margin-left: 0;
    margin-right: 10px;
}

.footer-info{
    font-size: 16px;
}