.nav-container {
    position: sticky;
    z-index: 1000;
    top: 0;
    margin: 0;
    width: 100%;
    height: 14vh;
}


#logo {
    height: 100%;
    margin-left: 10vw;
    margin-right: 15vw;
}

.nav {
    margin: 0 auto;
    height: 115px;
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    padding: 1rem;
    display: flex;
    background-image: url("../../../images/background_image/baner4_small.png");
    background-size: cover; 
    background-repeat: no-repeat;
}


@media (max-width: 767px) {

    .hamburger-menu {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }

    .hamburger-menu span {
        height: 5px;
        width: 100%;
        background-color: var(--baner-color6);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .hamburger-menu span:nth-child(1) {
        top: 25%;
    }

    .hamburger-menu span:nth-child(3) {
        top: 75%;
    }


    .hamburger-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }


    .off-screen-menu {
        background-color: var(--baner-color4);
        height: 100vh;
        width: 100%;
        max-width: 220px;
        position: fixed;
        top: 0;
        right: -220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
    }

    .off-screen-menu.active {
        right: 0;
    }

    .nav-button {
        height: 30px;
        margin: 5px;
        background-color: var(--content-background-color);
        border: 0;
        width: 120px;
        color: var(--baner-color6);
        font-weight: 700;
        transition-duration: 2000ms;
    }

    .nav-button:hover {
        cursor: pointer;
        background-color: rgba(96, 57, 56, 0.5);
        background-image: linear-gradient(#D4A28F, #946C66, #5F3524);
        transition-duration: 1000ms;
        color: var(--brand-color);
    }

    .nav-button.active {
        cursor: pointer;
        padding: 0;
        background-image: linear-gradient(#D4A28F, #946C66, #5F3524);
        font-weight: 700;
        color: #ffffff;
        transition-duration: 1000ms;
    }

    .nav-cv-button {
        background-color: var(--accent-color);
        color: var(--content-background-color);
        height: 30px;
        margin: 5px;
        border: 0;
        width: 150px;
        font-weight: 700;
        transition-duration: 1000ms;
        border: 1px solid var(--content-background-color);
    }

    .links {
        margin-top: 20px;
    }

    .nav-cv-button.active {
        color: var(--text-color);
        background: var(--content-background-color);
    }

} 

@media (min-width: 768px) {

    .hamburger-menu input {
        appearance: none;
    }

    #nav-buttons {
        display: flex;
    }

    .nav-button {
        width: 65px;
        height: 55px;
        padding: 0;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
        background-color: var(--accent-color);
        color: var(--text-color);
        border: 0;
        font-size: 12px;
        font-weight: 600;
        transition-duration: 1000ms;
        margin-right: 1vw;
    }

    .nav-button:hover,
    .nav-button.active {
        cursor: pointer;
        padding: 0;
        background-image: linear-gradient(#D4A28F, #946C66, #5F3524);
        font-weight: 700;
        color: #ffffff;
        transition-duration: 1000ms;
    }

    .nav-cv-button {
        background-color: var(--accent-color);
        color: var(--content-background-color);
        height: 30px;
        margin: 5px;
        border: 0;
        width: 150px;
        font-weight: 700;
        transition-duration: 1000ms;
    }


    /* .nav-cv-button.active {
        background-image: linear-gradient( #946C66, #5F3524);
        color: var(--text-color);
    } */

}


@media (min-width: 768px) and (max-width: 1199px) {

    #logo {
        height: 100%;
        margin-left: 12vw;
    }
    
    .nav-button {
        width: 85px;
        height: 85px;
        font-size: 12px;
    }
}

@media (min-width: 1200px) {

    .nav {
        height: 23vh;
    }

    #logo {
        height: 100%;
        margin-left: 15vw;
        margin-right: 20vw;
    }

    #nav-buttons {
        /* width: 30vw; */
    }

    .nav-button {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }

    .links {
        margin-left: 40px;
    }
}