.nav-container {
    position: sticky;
    z-index: 1000;
    top: 0;
    margin: 0;
    width: 100%;
    height: 14vh;
}


#logo {
    height: 100%;
    margin-left: 10vw;
    margin-right: 15vw;
}

.nav {
    margin: 0 auto;
    height: 115px;
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-image: url("../../../images/background_image/baner4_small.png");
    background-size: cover; 
    background-repeat: no-repeat;
}

@media (max-width: 767px) {

    :root {
        --bar-width: 45px;
        --bar-height: 4px;
        --hamburger-gap: 10px;
        --foreground: var(--text-color);
        --background: var(--brand-color);
        --hamburger-margin: 20px;
        --hamburger-animation-timing: 400ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        right: var(--hamburger-margin);    
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked) {
        --foreground: var(--brand-color);
        --background: var(--text-color);
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content:"";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transition: opacity var(--hamburger-animation-timing), width var(--hamburger-animation-timing), 
        rotate var(--hamburger-animation-timing), translate var(--hamburger-animation-timing);
        transform-origin: left center;
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2); 
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2); 
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: translate var(--hamburger-animation-timing);
        translate: -300vw;
        margin-top: 30vh;
        /* background-color: rgba(148, 108, 102, 0.3); */
        background-color: var(--baner-color4);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200vh;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
    }

    .nav-button {
        height: 30px;
        margin: 5px;
        background-color: var(--content-background-color);
        border: 0;
        width: 150px;
        color: var(--baner-color6);
        font-weight: 700;
        transition-duration: 1000ms;
    }

    .nav-button:hover {
        cursor: pointer;
        background-color: rgba(96, 57, 56, 0.5);
        background-image: linear-gradient(#D4A28F, #946C66, #5F3524);
        transition-duration: 1000ms;
        color: var(--brand-color);
    }

    .nav-button.active {
        cursor: pointer;
        padding: 0;
        background-image: linear-gradient(#D4A28F, #946C66, #5F3524);
        font-weight: 700;
        color: #ffffff;
        transition-duration: 1000ms;
    }

    .nav-cv-button.active {
        color: var(--text-color);
        background: var(--content-background-color);
    }

}

@media (min-width: 768px) {

    .hamburger-menu input {
        appearance: none;
    }

    #nav-buttons {
        display: flex;
    }

    .nav-button {
        width: 55px;
        height: 55px;
        padding: 0;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
        background-color: var(--accent-color);
        color: var(--text-color);
        border: 0;
        font-size: 12px;
        font-weight: 600;
        transition-duration: 1000ms;
        margin-right: 1vw;
    }

    .nav-button:hover,
    .nav-button.active {
        cursor: pointer;
        padding: 0;
        background-image: linear-gradient(#D4A28F, #946C66, #5F3524);
        font-weight: 700;
        color: #ffffff;
        transition-duration: 1000ms;
    }

    .nav-cv-button.active {
        background-image: linear-gradient( #946C66, #5F3524);
        color: var(--text-color);
    }

}


@media (min-width: 768px) and (max-width: 1199px) {

    #logo {
        height: 100%;
        margin-left: 12vw;
    }
    
    .nav-button {
        width: 85px;
        height: 85px;
        font-size: 12px;
    }
}

@media (min-width: 1200px) {

    .nav {
        height: 23vh;
    }

    #logo {
        height: 100%;
        margin-left: 15vw;
        margin-right: 20vw;
    }

    #nav-buttons {
        width: 30vw;
    }

    .nav-button {
        width: 100px;
        height: 100px;
        font-size: 18px;
        margin-right: 10px;
    }

}