* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
}

*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

main {
    display: block;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* max-width: 80vw; */
    margin-top: 3vw;
    flex-direction: column;
}

p {
    margin: 15px 0;
}

b {
    color: var(--baner-color6);
}

h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--baner-color6);
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
    letter-spacing: 0.4em;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    color: var(--baner-color6);
}

h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--baner-color6);
}

@media (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .container {
        margin: 1vh auto;
        max-width: 80vw;
    }
}

@media (min-width: 1200px) {

    .container {
        flex-direction: row;
        max-width: 87vw;
    }
}