* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
}

body {
    /* background-color:#D6BCB4;
    background-color: #e2d0ca;
    background-color: #f2eae8; */
    background-color: var(--background-color);
}

main {
    display: block;
}

p {
    margin: 15px 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin-top: 3vw;
    /* background-color: green; */
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        margin: 1vh auto;
    }
}

@media (min-width: 1200px) {
    .container {
        flex-direction: row;
    }
}