#aboutme {
    margin-top: 15vh;
}

.aboutme {
    margin-top: 15vh;
    display: none;
}

.aboutme.active {
    display: block;
}

.aboutme-content {
    margin: 0 auto;
    margin-left: 0;
    padding: 1.5vw;
    min-width: 405px;
    max-width: 80vw;
    min-height: 440px;
    background-color: #dec9c3;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    animation: fade-left 700ms;
}

#aboutme-photo {
    margin: 0 auto;
    padding: 1.5vw;
    width: 80vw;
    /* max-height: 400px; */
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
    animation: fade-right 700ms;
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.aboutme-display {
    width: 20px;
    height: 20px;
}

#aboutme-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 2vh;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .aboutme {
        margin-top: 20vh;
    }
    .aboutme-content {
        font-size: 18px;
        width: 80vw;
    }
    #aboutme-photo {
        width: 80vw;
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .aboutme {
        margin-top: 22vh;
        padding-top: 2vh;
    }
    .aboutme-content {
        font-size: 18px;
        width: 55vw;
    }
    #aboutme-photo {
        width: 40vw;
    }
}