#cv {
    display: flex;
    justify-content: start;
}

.cv {
    margin: 0;
    margin-left: 50px;
    margin-top: 50px;
}

.mouse_graphic {
    width: 300px;
    margin: 0;
    margin-top: -140px;
    margin-left: -70px;
}

.cv-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 30vw;
    margin-right: 0;
}

.cv-button {
    width: 130px;
    height: 130px;
    font-size: 20px;
    font-weight: 700;
}