.interests {
    font-weight: 700;
}

.interests-content {
    margin: 0;
}

.interests-link {
    display:block;
    background-color: var(--accent-color);
    height: 25px;
    width: 290px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
    font-size: 16px;
    font-weight: 500;
}